/* static position */
div.static
{
     position: static;
     border: 3px solid red;
}
#home  
/* relativecss  */
{
     text-align: center;
     color: brown;
     background-color: aqua
}

/* relative positon */

div.relative
{
     position: relative;
     border: 5px dotted blue;
     left:25px;
}


div.fixed
{
     position: fixed;
     border: 7px dashed green;
}


div.sticky
{
position: sticky;
border: 6px solid yellow ;
}

#footer
{
     text-align: center;
     background-color: blueviolet;
     border : 6px dotted red;
     color: aqua;
     left: 20%;;
}

img
{
     position: absolute;
     left: 0px;
     right: 0px;
     z-index: -1;
}

/* overflow css */

div
{
     background-color: crimson;
     width: 200px;
     height:60px;
     overflow: visible;
}
/* 
hidden overflow css  */

#d1
{
     background-color: blue;
     width :100px;
     height:90px;
     overflow:hidden;
     border: 2px solid red;
}

#a1
{
     background-color: #7526c3;
     overflow :scroll;
     width:150px;
     height: 120px;
     border :5px dotted #758975;

}
/* 
relative css overflow  */
#c1
{
  background-color: #1f9cd2;
  width: 180px;
  height: 90px;
  border: 5px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
}

