

.fullscreen_bg
{
     position: fixed;
     top:0;
     bottom: 0;
     right: 0;
     left: 0%;
     overflow: hidden;
     z-index: -1;
     background-size: cover;
}

.fullscreen_bg_video
{
     position: fixed;
     width:auto;
     height: auto;
     min-height: 100%;
     min-width: 100%;

}

